*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 1000px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: transform 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: transform 500ms ease-in;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: teal;
}

.navbar__links {
  margin: 0 auto;
}

.navbar__links > a:not(:last-child) {
  margin-right: 20px;
}