.myBtn {
  padding: 5px 20px;
  color: deepskyblue;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid deepskyblue;
  cursor: pointer;
}

.myBtn:hover {
  background-color: rgb(0, 1, 73);
}